# Change of registry will result the install source changed in 'yarn.lock'
# It may result `401 Unauthorized` error for pipeline publish since pipeline may not have access to the registry you change to
registry=https://dsnexus.uk.hibm.hsbc:8081/nexus/content/groups/npm-all/
always-auth=true
script-shell=bash
