# Change of registry will result the install source changed in 'yarn.lock'
# It may result `401 Unauthorized` error for pipeline publish since pipeline may not have access to the registry you change to
registry "http://mirrors.cloud.tencent.com/npm/"
strict-ssl false
