---
---
$font_main: #727272;
$secondary_color: #4BA6A9;
$secondary_color_light: lightblue;
$secondary_color_lighter: #ebffff;

header, aside {
  a {
    color: $font_main;
    text-decoration: none;
    &:hover {
      color: $secondary_color;
      text-decoration: none;
    }
  }
}

#site-toc {
  .active {
    > .sidebar-entry {
      background-color: $secondary_color_lighter;
      border-left: 2px solid $secondary_color_light;
      [dir="rtl"] & {
        border-left: 0;
        border-right: 2px solid $secondary_color_light;
      }
    }
  }
}
